.button {
    /* shape and sizing */
    padding: 10px 16px;
    border-radius: 8px; 
    border: none;
    background-color: #bdbbb6;
    color: black;
  
    
    /* typography */
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    
    /* interactive behavior */
    cursor: pointer;
    transition: all 0.2s ease;
    
    /* prevent text selection on button */
    user-select: none;
    
    /* better alignment of text */
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  