  .registration-page {
    background-image: url("images/registerBG.jpg"); /* background image */
    background-size: auto 100%; /* crop image to snap to height */
    background-position: center center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    position: relative;
    font-family: 'Unbounded', sans-serif;
  }
  
  .registration-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    padding-top: 125px;
  }
  
  form {
    /* center the form contents */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
  }
  
  input {
    padding: 8px 12px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .register-button {
    margin-top: 10px;
    padding: 12px 24px;
    height: 60px;
    width: 100%;

    background: radial-gradient(ellipse at center, rgb(60,95,50), rgb(35, 50, 35));
    
    font-family: 'Unbounded', sans-serif;
    font-size: 25px;
    color: rgb(245, 228, 215);
    
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .register-button:hover {
    background-color: #bbb;
    transform: scale(1.05);
  }

  .login-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 25px;

    color: rgb(110,130,105);  
    text-align: center;
    font-size: 15px;
  }
  
  .login-link a {
    color: rgb(110,130,105);
  }