.login-page {
  background-image: url("images/loginBG.jpg"); /* background image */
  background-size: auto 100%; /* crop image to snap to height */
  background-position: center center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  position: relative;
  font-family: 'Unbounded', sans-serif;
}

.login-form-container {
  margin-top: 325px;
  border-radius: 50px;
  padding: 45px 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.enter-email {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.enter-password {
  width: 100%;
  display: flex;
  justify-content: center;
}

.forgot-password {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}
.forgot-password-link {
  text-align: right;
  font-size: 13px;
  margin-right: 25px;
  margin-top: 5px;
  width: 350px;
  color: rgb(110,130,105);
}

input {
  background-color: rgba(229, 209, 208, 1);
  background: radial-gradient(ellipse at center, #a6d7a1, rgb(90,100,85));
  padding: 8px 12px;
  border: 1px solid rgb(5, 22, 5) !important;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  max-width: 350px;
  transition: border 0.3s ease;
}

input::placeholder {
  font-family: 'Unbounded', sans-serif;
  color: rgb(5, 22, 5);
}

input:focus {
  border-color: #4a7c59;
  outline: none;
}

.login-button {
  margin-top: 10px;
  padding: 12px 24px;
  height: 60px;
  width: 100%;
  max-width: 350px;

  background: radial-gradient(ellipse at center, rgb(60,95,50), rgb(35, 50, 35));
  
  font-family: 'Unbounded', sans-serif;
  font-size: 25px;
  color: rgb(245, 228, 215);
  
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  transform: scale(1.05);
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 90px;

  text-align: center;
  font-size: 15px;
}

.register a {
  color: rgb(110,130,105);
}
  
.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: bold;
}
  
/*remember me & forgot password part of log in*/
.form-options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 10px;
}
  
.form-options a {
  color: #4a7c59;
  text-decoration: none;
  font-weight: bold;
}

.form-options a:hover {
  text-decoration: underline;
}