/* addSongPage.css */

.addsong-container {
  padding-top: 50px; /* Space for fixed navbar */
  min-height: 100vh;
  background-color: rgb(5,22,5);
  font-family: 'Unbounded', sans-serif;
}

.addSong-page {
  max-width: 650px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
}

.addSong-page h1 {
  text-align: center;
  color: rgb(248,228,215);
  font-family: "F8 Heavy";
  margin-bottom: 30px;
}

/* Form styling */
.song-form-container {
  background-color: rgb(160,147,134);
  border-radius: 50px;
  padding: 40px;
  box-shadow: 0 2px 30px rgb(110,130,105);
}

.form-group {
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: 500;
  font-size: 20px;
  color: rgb(5,22,5);
  margin-top: 10px;
  margin-right: 15px;
}

.song-label {
  margin-left: -35px;
}
.artist-label {
  margin-left: 8px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Unbounded", sans-serif;
}

.form-group input:focus {
  outline: none;
  border-color: #73877b;
  box-shadow: 0 0 0 2px rgba(115, 135, 123, 0.2);
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

/* Button styling */
.submit-button, .cancel-button {
  padding: 10px 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  transition: all 0.2s ease;
  transition: scale(1.05);
}

.submit-button {
  background: radial-gradient(ellipse at center, rgb(70,90,65), rgb(80,100,75));
  color: rgb(245,228,215);
}

.submit-button:hover {
  background: radial-gradient(ellipse at center, rgb(50,70,45), rgb(80,100,75));
  transform: scale(1.05);
}

.submit-button:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}

.cancel-button {
  background: radial-gradient(ellipse at center, rgb(205, 180, 175), rgb(245,228,215));
  background-color: #e0e0e0;
  color: rgb(5,22,5);
}

.cancel-button:hover {
  background: radial-gradient(ellipse at center, rgb(185, 160, 155), rgb(230, 205, 200));
  transform: scale(1.05);
}

/* Message styling */
.error-message {
  background-color: #ffebee;
  color: #c62828;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: center;
}

.success-message {
  background-color: rgb(160,147,134);
  color: rgb(5, 22, 5);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.success-message p {
  margin: 8px 0;
}